@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.header-navbar {
  background-color: #000000f2 !important;
  color: white !important;
}
.text-white a {
  color: #848895 !important;
}
.header {
  background-color: #0047ff;
  color: black;
  display: flex;
  justify-content: center;
  height: 37px;
  align-items: center;
}
.main-page-contant {
  text-align: center;
  /* color: white; */
  /* background-image: url(../app/images/solanaimage1.png); */

  padding-top: 50px;
}
.main-page-background {
  background-color: black;
  color: white;
}
.main-page-contant p {
  font-size: 21px;
}
.main-page-contant h6 {
  font-size: 68px;
  font-weight: 300;
}
.main-page-button {
  display: flex;
  padding: 100px 0;
  justify-content: center;
  gap: 15px;
}
.start-button {
  padding: 20px;
  border-radius: 36px;
  background-color: #8c01fa;
  color: white;
  border: unset;
}
.read-button {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 20px;
  border-radius: 36px;
}
.tools-heading {
  text-align: center;
}
.tools-heading p {
  color: #618adc;
}

.header-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.company-patner {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.millions h3 {
  font-size: 38px;
  font-weight: 300;
}
.millions h1 {
  font-size: 101px;
  font-weight: 400;
  color: #4e78e1;
}

.millions p {
  color: #c4c4c4;
}
.nav-link:hover {
  color: white !important;
}
.millions {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
}
.mass-section p {
  color: #c4c4c4;
  font-size: 17px;
}
.environment {
  color: #19fb9b;
  padding-left: 5px;
}
.background-img-left {
  background-image: url(../app/images/solana-background3.png);
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9;
}
.background-img-left img {
  background-position: center;
  height: 250px;
  width: 100%;
}
.background-img-right {
  background-image: url(../app/images/solanaimage2.png);
}
.mass-section {
  background-image: url(../app/images/mass-section-image.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: auto;
}
.mass-section-text {
  background-color: #000508;
  padding: 30px;
  border-radius: 20px;
}
.mass-section-text h1 {
  border-left: 1px solid #1fcff1;
  font-weight: 200;
  font-size: 28px;

  padding-left: 15px;
}
.mass-section-text h2 {
  border-left: 1px solid red;
  font-weight: 200;
  font-size: 28px;
  padding-left: 15px;
}
.mass-section-text2 {
  background-color: #000508;
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
}
.mass-section-text2 h1 {
  border-left: 1px solid #9945ff;
  font-weight: 200;
  font-size: 28px;
  padding-left: 15px;
}
.Decentralized-text {
  background-color: #000508;
  padding: 30px;
  border-radius: 20px;
}
.Decentralized-text h1 {
  border-left: 1px solid #ffd512;
  padding-left: 15px;
  font-weight: 300;
  font-size: 27px;
}
.Decentralized-text2 {
  background-color: #000508;
  padding: 30px;
  margin-top: 10px;
  border-radius: 20px;
}

.Decentralized-text h2 {
  border-left: 1px solid red;
  font-weight: 200;
  font-size: 28px;
  padding-left: 15px;
}

.Decentralized-text2 h1 {
  border-left: 1px solid #19fb9b;
  padding-left: 10px;
  font-size: 27px;
  font-weight: 200;
}
.Decentralized-text2 h2 {
  font-size: 27px;
  font-weight: 200;
}

.payment-mode {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.payment-mode button {
  padding: 10px;
  border-radius: 15px;
  background-color: #111111;
  border: unset;
  color: white;
}
.Nft-btn {
  border: 1px solid #a962ff !important;
}
.payment-mode-group {
  display: flex;
  gap: 10px;
}
.build-image {
  padding: unset !important;
}
.build-image img {
  width: 100% !important;
}
.anybodies {
  padding: 80px;
  background-color: #141414;
}
.emoji {
  display: flex;
  justify-content: space-around;
  background-color: #261f26;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  margin-top: 20px !important;
}
.more-about {
  color: #a962ff;
  font-size: 20px;
}
.footer-contant {
  background-color: #000508;
  color: white;
  padding: 40px 0;
  border-top: 1px solid #141414;
}
.footer-contant p {
  color: gray;
  font-weight: 200;
  font-size: 16px;
}
.footer-contant h2 {
  font-weight: 200;
  font-size: 16px;
}

.join-line {
  background-color: black;
  padding: 50px 0;
}
.join-line p {
  font-size: 30px;
}
.footer-contact {
  display: flex;
  justify-content: space-between;
}
.social-link {
  display: flex;
  gap: 16px;
  padding: 20px 0;
}
.community {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.start-building {
  text-align: center;
  padding: 90px 0;
  background-image: url(../app/images/joining-background.png);
  background-position: center;
  background-repeat: no-repeat;
}
.start-building button {
  background-color: #8c01fa;
  border-radius: 38px;
  color: white;
  padding: 8px 15px;
  border: unset;
  margin-top: 40px;
}
.start-building h1 {
  font-weight: 200;
}

.en-logo {
  display: flex;
  gap: 5px;
}

/* <<<<<<<-----Build page ------->>>>>> */
.build-page-background {
  background-image: url(../app/images/build-background.png);
  background-position: center;
  background-repeat: no-repeat;
  border: unset;
}
.build-page-background img {
  width: 100%;
}
.build-page {
  background-color: #000508;
  color: white;
  padding-top: 50px;
}
.build-btn button {
  padding: 10px;
  border-radius: 40px;
}
.stack {
  background-color: unset;
  border: 1px solid gray;
  color: white;
  padding: 5px 50px;
  font-size: 15px;
  margin-left: 10px;
}
.stack img {
  margin-left: 6px;
}
.backgroundimg img {
  width: 100%;
}

.backgroundimg {
  position: relative;
  margin: 30px;
}
.circle-arrow {
  font-size: 30px;
  color: #848895;
}
.arrow-right {
  font-size: 24px;
  color: #848895;
}
.build-image-text h1 {
  font-size: 39px;
  font-weight: 300;
}
.build-image-text p {
  font-size: 18px;
}
.build-image-text {
  position: absolute;
  bottom: 80px;
  margin-left: 40px;
}
.build-image-text button {
  padding: 1px 15px;
  border-radius: 30px;
  background-color: #9945ff;
  border: unset;
  color: white;
  font-size: 11px;
  margin-bottom: 20px;
}
.build-now {
  background-color: #14f195;
  border: 1px solid black;
  font-size: 15px;
}
.edit-card {
  /* background-image: url(../app/images/design.png); */
  height: 250px !important;
  width: 346px;
  border-radius: 18px;
  background-color: #19161c !important;
  color: white !important;
  margin-top: 20px;
}
.card-title {
  display: flex;
  justify-content: center;
}
.card-title {
  padding: 20px 0;
}
.build-docs {
  justify-content: space-between;
}
.build-docs button {
  padding: 0 30px;
  border-radius: 40px;
  background-color: unset;
  color: white;
  border: 1px solid gray;
}
.build-solana-docs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 25px 0;
  font-size: 15px;
}
.build-solana-docs h1 {
  font-weight: 200;
  font-size: 32px;
}
.GoArrowUpRight {
  font-size: 11px;
}
.change-log button {
  padding: 0 20px;
  background-color: unset;
  color: white;
  border-radius: 40px;
  border: 1px solid gray;
}
.change-log {
  padding: 50px 0;
  justify-content: space-around;
}
.change-log h1 {
  font-size: 39px;
  font-weight: 200;
}
.change-log-image img {
  width: 100%;
}
.btnn-primary {
  font-size: 11px;
}
.card-titles {
  color: #9945ff;
  font-size: 12px;
}
.social-button button {
  padding: 5px 40px;
  border-radius: 30px;
  border: 1px solid gray;
  background-color: unset;
  color: white;
}
.social-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.social-button img {
  padding-left: 3px;
}
.email-edit input {
  background-color: #000000 !important;
  color: white !important;
  border-radius: 20px;
  border: unset;
}

.view-all-section {
  width: 45% !important;
}
.get-started P {
  color: gray;
}

.buildspacee {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

/* .buildspace-three button {
  padding: 0 10px;
  border-radius: 40px;
  border: unset;
  background-color: #8c01fa;
  color: white;
  font-size: 11px;
}
.buildspace-three p {
  font-size: 28px;
  font-weight: 200;
} */
.chapter-buildspacce {
  position: relative;
  width: 347px;
  margin-top: 21px;
}
.chapter-buildspacce-text {
  position: absolute;
  bottom: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.chapter-card {
  display: flex;
}
.chapter-main-div {
  display: flex;
  justify-content: center;
}
.chapter-buildspacce-text button {
  padding: 0 10px;
  border-radius: 40px;
  border: unset;
  background-color: #8c01fa;
  color: white;
  font-size: 11px;
}
.chapter-buildspacce-text p {
  font-size: 18px;
  font-weight: 200;
}
.card-shade image {
  padding: 20px;
  width: 50%;
}
.buildspace-three-background {
  width: 90% !important;
  margin: auto !important;
  flex-wrap: wrap !important;
}
input::placeholder {
  color: white !important;
}
.learn-line {
  padding-top: 30px;
}
.resources-colum {
  background-color: #0a0a0a;
  padding: 30px 46px;
  border-radius: 14px;
  height: 100%;
}
.resources p {
  color: #c4c4c4;
  font-size: 13px;
}
.resources {
  justify-content: space-between;
}
.submit-button button {
  background-color: #14f195;
  border-radius: 20px;
  color: #000000;
  border: unset;
  font-size: 12px;
  margin-top: 20px;
  right: 0;
}
.solana-tools h1 {
  font-weight: 200;
  font-size: 36px;
}
.tools-section {
  background-color: #19161c;
  padding: 50px 0;
}
.build-solana-docs p {
  font-size: 15px;
}
/* .one-two image {
  display: flex;
  justify-content: center;
} */

@media (max-width: 1024px) {
  .card-blank-col {
    display: none;
  }
  .social-button {
    display: unset;
  }
  .social-button button {
    padding: 5px 80px;
    margin-top: 8px;
  }
  .resources-colum {
    padding: 20px 46px;
  }
  .more-changelog {
    padding: 50px 0;
  }
  .community {
    flex-wrap: wrap;
    gap: 62px;
  }
  .main-page-button {
    padding: 15px !important;
    gap: 10px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 820px) {
  .collapse {
    display: block;
  }
  .company-patner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: unset;
  }
  .main-page-button {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .Decentralized-text {
    margin-top: 20px;
  }
  .Decentralized-text2 {
    margin-top: 20px;
  }
  .community {
    display: none !important;
  }
  .navbar-toggler {
    color: white !important;
    background-color: white !important;
  }
  .nav-link {
    color: white !important;
  }
  .dropdown-menu:hover {
    display: block !important;
  }
  .collapse:hover {
    display: block !important;
  }
  .buildspace-three-background {
    width: unset !important;
    flex-wrap: wrap !important;
  }

  .charpter-card {
    display: flex;
    gap: 13px;
  }
  .millions {
    padding: 50px 0;
  }
  .chapter-buildspacce img {
    width: 198%;
  }
  .chapter-main-div {
    display: unset;
  }
  .chapter-buildspacce-text {
    width: 198%;
  }
}
.about-home-build:hover {
  color: #14f195;
  display: block;
}
.about-home-build {
  display: none;
}
.about-build:hover {
  color: red !important;
  display: block !important;
}

@media (max-width: 768px) {
  .millions {
    padding: 50px 0;
  }
  .company-patner {
    padding: 20px 0;
  }
  .millions h1 {
    font-size: 71px;
  }
}

@media (max-width: 390px) {
  .payment-mode {
    display: unset;
    padding: unset;
  }
  .payment-mode-group {
    display: unset;
  }
  .millions h1 {
    font-size: 71px;
  }
  .header {
    font-size: x-small;
  }
  .main-page-contant h6 {
    font-size: 42px;
  }
  .read-button {
    padding: 5px 13px;
  }
  .start-button {
    padding: 10px 14px;
  }
  .company-patner {
    gap: 24px;
  }
  .millions {
    padding: 19px 0;
  }
  .mass-section {
    padding: unset;
  }
  .start-building {
    padding: 25px 0;
  }
}
@media (max-width: 414px) {
  .payment-mode {
    display: unset;
    padding: unset;
  }
  .payment-mode-group {
    display: unset;
  }
  .millions h1 {
    font-size: 71px;
  }
  .header {
    font-size: x-small;
  }
  .main-page-contant h6 {
    font-size: 42px;
  }
  .read-button {
    padding: 5px 13px;
  }
  .start-button {
    padding: 10px 14px;
  }
  .company-patner {
    gap: 24px;
  }
  .millions {
    padding: 19px 0;
  }
  .mass-section {
    padding: unset;
  }
  .start-building {
    padding: 25px 0;
  }
  .build-solana-docs {
    display: unset;
  }
  .resources {
    gap: 20px;
  }
}
@media (max-width: 430px) {
  .build-solana-docs {
    display: unset;
  }
  .resources {
    gap: 20px;
  }
  .payment-mode {
    display: unset;
    padding: unset;
  }
  .payment-mode-group {
    display: unset;
  }
  .millions h1 {
    font-size: 71px;
  }
  .header {
    font-size: x-small;
  }
  .main-page-contant h6 {
    font-size: 42px;
  }
  .read-button {
    padding: 5px 13px;
  }
  .start-button {
    padding: 10px 14px;
  }
  .company-patner {
    gap: 24px;
  }
  .millions {
    padding: 19px 0;
  }
  .mass-section {
    padding: unset;
  }
  .start-building {
    padding: 25px 0;
  }
}

/* <<<<<<-------->>>>>>> */

.navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 20px;
  color: #fff;
}

.navbar-toggler {
  padding: 0.2rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid white;
}

.nav-link {
  color: #fff !important;
}

.wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
  transition: 1s all;
}

.navbar-brand {
  color: #fff;
  font-family: "Allerta Stencil", sans-serif;
  margin-bottom: 4px;
  font-size: 27px;
}

.navbar-red:hover .wrapper {
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-red {
  background-color: red;
  color: #fff;
}

.all-show {
  z-index: 10;
}
